@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

html {
  color: white;
  font-family: "Noto Sans", sans-serif;
}
#nav {
  background-color: white;
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  color: #a8896c;
  font-size: 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin: 0;
  width: 100%;
}
#nav a {
  color: #a8896c;
}
#nav > * {
  flex-grow: 3;
}
body {
  background-color: rgb(39, 34, 34);
}
#intro {
  background-image: url(../images/auto.jpg);
  padding: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
  position: relative;
  margin-top: 5rem;
}

#vuokraus form {
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 0;
}
input[type="text"],
[type="tel"],
[type="email"] {
  width: 345px;
}
input[type="date"] {
  width: 139px;
}
input[type="time"] {
  width: 69px;
}
button {
  appearance: none;
  -webkit-appearance: none;

  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 180px;
}

#autot {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-top: 80px;
  margin-top: -80px;
}
.box {
  color: #fff;
  position: relative;
  top: -180px;
  padding: 1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
#logo {
  width: 150px;
  margin-bottom: -3rem;
  position: relative;
  top: -30px;
}
figure img {
  max-width: 100%;
}
.gallery {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 10px;
}
.gallery img {
  font-size: 50%;
  object-fit: cover;
}
footer {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background-color: black;
  color: white;
  bottom: 0;
}
footer p {
  margin-top: 1rem;
}
#logo2 {
  width: 150px;
}
#date2 {
  width: 400px;
  margin-left: -1.3rem;
}
.btn-primary {
  margin-left: 2rem;
}
#autoinfo {
  display: none;
}